<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the Dealership</h1>
    <form action='inventory/add'>
      <div class='form-group'>
        <label for='make'>Height</label>
        <input id='make' name='make' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='model'>Width</label>
        <input id='model' name='model' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='year'>Length</label>
        <input id='year' name='year' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='price'>Weight in pounds</label>
        <input id='price' name='price' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn btn-primary'>Update</button>
    </form>
  </body>
</html>
